<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php">
  <coverage>
    <include>
      <directory>./src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Detailed result printer for PHPUnit Test Suite">
      <directory suffix=".phpt">./tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
